<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Lista de login de usuarios cadastrados</title>
</head>
<body>
<h1 align="center">Lista de usuarios</h1>
<br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listaclientes : ${produtos}">
        <td th:text="${listaclientes.nome}">Nome</td>
        <td th:text="${listaclientes.email}">Email</td>
        <td th:text="${listaclientes.telefone}">Telefone</td>
    </tr>
    </tbody>
</table>
</body>
</html>